* {
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
/* font-family: "New Amsterdam", sans-serif;*/

html, body {
 font-family: "Playfair Display", cursive;
  font-size: 25px;
  background: gray;
  background-image: url("Fundo1.jpeg");
  background-size: cover;
  background-position: CENTER;
  background-attachment: fixed;
  
  color: white;
}  

button{
font-family: "Source Code Pro", monospace;
  background-color: white;
 border: solid 2px black;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom:10px;
  margin-top:50px;
}

button:hover{
  background-color:rgb(53,114,221)
}

footer{
font-family: "Homemade Apple", cursive;
background-color: rgba(187,187,187,1);
text-align: CENTER; 
color: black;
}

.passo{
  display: none;
}

.passo.ativo{
  display: block;
}

img{
  width: 250px;
  margin-bottom:50px;
  align-items: CENTER;
}

main{
  color: white;
  font-size: 25px;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 546px;
}

.txt{
  margin-bottom:15px;
}